# IDEs and Editor configurations
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Global node_modules (just in case)
node_modules/

# Custom Agent Files
.agents/
.gemini/

# Project specific ignores
# nestJS-modular-monolith-architecture-template/
